@import "variables";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hidden {
  display: none;
}

@import "components/layout";
@import "components/button";
@import "components/banner";
@import "components/login";
@import "components/input";
@import "components/selector";
@import "components/manage";
@import "components/nav";
@import "components/sidebar";
@import "components/map";
@import "components/log";
// accordion must be before help!
@import "components/accordion";
@import "components/help";
@import "components/edit";
