//
// Colors
//

$white: #FFF;
$green: #58EC98;
$yellow: #F8BC74;
$red: #F95E6E;
$black: #383747;
$gray: #888791;

//
// Sizes
//
$buttonHeight: 54px;
$navHeight: 54px;
$mapStatsHeight: 108px;

$font-bigger: 1.2em;
$font-big: 3em;

$default-padding: 8%;

//
// Shadows
//

$default-box-shadow: 0 0 3px 0 rgba($black, .3);