.button {
  height: $buttonHeight;
  line-height: $buttonHeight;
  text-align: center;
  font-weight: bold;
  color: $white;
  font-size: $font-bigger;
  display: block;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button-success {
  background: $green;
}

.button-back {
  background: $gray;
}

.button-abort {
  background: $red;
}

.button-noBorder {
  color: $black;
}

.button-warning {
  background: $yellow;
}

.button-container {
  display: flex;

  .button {
    flex: 1 1 100%;
  }
}