.map {
  width: 100%;
  height: 100%;
  flex: 0 1 100%;
}

.map-login {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #000;
}

.map-stats {
  box-shadow: $default-box-shadow;
  display: flex;
  flex: 0 1 10%;
  min-height: 2.5 * $font-bigger;
  overflow: auto;
}

.map-stats-item {
  display: flex;
  flex: 1 0 22%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: $black;
  font-size: $font-bigger;
}