.nav {
  box-shadow: $default-box-shadow;
  display: flex;
  flex: 0 0 $navHeight;
}

.nav-item {
  display: block;
  line-height: $navHeight;
  flex: 1 1 100%;
  text-align: center;
  color: $black;
  text-decoration: none;
  height: $navHeight;
}